<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationDuran">
        <activity
            android:name=".controller.datosUser"
            android:exported="false" />
        <activity
            android:name=".controller.gameComplet"
            android:exported="false" />
        <activity
            android:name=".controller.pregunta_numeros3"
            android:exported="false" />
        <activity
            android:name=".controller.preguntas_numeros2"
            android:exported="false" />
        <activity
            android:name=".controller.preguntas_numeros1"
            android:exported="false" />
        <activity
            android:name=".controller.preguntas_colores"
            android:exported="false" />
        <activity
            android:name=".controller.preguntas_frutas"
            android:exported="false" />
        <activity
            android:name=".controller.preguntaAnimales"
            android:exported="false" />
        <activity
            android:name=".aprender"
            android:exported="false" />
        <activity
            android:name=".controller.menu_app"
            android:exported="false" />
        <activity
            android:name=".controller.Coloress"
            android:exported="false" />
        <activity
            android:name=".controller.Numeros"
            android:exported="false" />
        <activity
            android:name=".controller.Frutas"
            android:exported="false" />
        <activity
            android:name=".controller.Animales"
            android:exported="false" />
        <activity
            android:name=".controller.MenuAprender$Colores"
            android:exported="false" />
        <activity
            android:name=".controller.MenuAprender"
            android:exported="false" />
        <activity
            android:name=".controller.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>